<%- include('../partials/headerIncludes') %>

</head>
<body class="body-bg-white">

    <div class="container">
    <div class="row display-flex justify-content-center" style="height: 100vh">

        <div class="registration-login-form">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                        <svg class="olymp-login-icon"><use xlink:href="#olymp-login-icon"></use></svg>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" style="max-height: 700px; overflow-y: auto;width: 500px;">

                <div class="tab-pane active" id="profile" role="tabpanel">
                    <div class="title h6" style="padding: 20px 26px;font-size: 25px;">Admin Login</div>
                    <form class="content" id="login-form" method="POST" action="<%= baseRoute %>admin/admin_login">
                        <div class="row">
                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Username</label>
                                    <input class="form-control" placeholder="" type="text" name="username">
                                    <span class="material-input"></span></div>
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Password</label>
                                    <input class="form-control" placeholder="" type="password" name="password">
                                    <span class="material-input"></span></div>

                                <div class="remember" style="margin: 0px 0 25px;">
                                    <a href="#" class="forgot" data-toggle="modal" data-target="#restore-password">Forgot my Password</a>
                                </div>

                                <input type="submit" class="btn btn-lg btn-primary full-width mt-3" value="Login">
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>

    </div>
</div>

    <%- include('../partials/footerIncludes') %>

</body>